<!-- affiliate links to AWIN -->

{% if site.affiliates-sidebar %}
    <div style="padding:1em;">
        <div style="border-top:1px solid #eee;border-bottom:1px solid #eee;padding:1em 0.5em 1em 0;">
          <h4 style="font-size: x-small;color: #999;">AFFILIATE LINKS</h4>
        <a href="https://properbroadband.co.uk/rants/" title="Unbiased UK broadband reviews exposing unfair practices. Compare providers and navigate the broadband market with an informed, consumer-first approach.">properbroadband.co.uk</a>
          </div>
    </div>
{% endif %}




